<!-- <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand fw-bold text-primary ms-3" href="/">apapedia</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav pull-right">
                <a class="nav-link" th:href="@{/}">Sign up/Sign in</a>
        </ul>
    </div>
</nav> -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="/">
                            <h3 class="orange-text">APAPEDIA</h3>
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a th:href="@{/}">Home</a>
                            </li>
                            
                            <li><a th:href="@{/}">Order History</a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/history}">View All</a></li>
                                    <li><a th:href="@{/}">15 Top Order This Month</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/sellerprofile}">Profile</a></li>
                            <li>
                                <div class="header-icons">

                                <div class="header-icons pull-right">
                                    <div th:if="${user == null}">
                                        <span><a th:href="@{/login-sso}" class="boxed-btn">Login</a>
                                        <a th:href="@{/signup}" class="bordered-btn">Sign Up</a></span>
                                    </div>

                                    <div th:unless="${user == null}">
                                        <a th:href="@{/logout-sso}" class="boxed-btn">Logout</a>
                                    </div>
                                </div>

                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search area -->
</div>
</body>
</html>