<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
		<object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
	</head>
<body>
	
	<div th:replace="~{fragments/navbar :: header}"></div>

	<div class="new-container">
		<div class="forms-container">
			<div class="signin-signup">
				<div class="container">
					<div class="alert alert-danger" role="alert" th:text="${success}" th:if="${success}"></div>
					<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
				</div>
				<!-- <form th:action="@{/login}" method="POST" class="sign-in-form">
					<h2 class="title">Sign in</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input type="text" placeholder="Username" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input type="password" placeholder="Password" />
					</div>
					<div class="text-center">
						<div class="hero-btns">
							<button type="submit" value="Login">Login</button>
						</div>
					</div>
				</form> -->
				<form th:action="@{/signup}" th:object="${registerRequest}" method="post" class="sign-up-form" style="padding-top: 40px;">
					<h2 class="title">Sign up</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input required type="text" placeholder="Name" th:field="*{nama}" />
					</div>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input required type="text" placeholder="Username" th:field="*{username}" />
					</div>
					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input required type="email" placeholder="youremail@example.com" th:field="*{email}" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input required type="text" placeholder="Address" th:field="*{address}" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<select class="select-dropdown" name="category" >
							<option th:value="1">Aksesoris Fashion</option>
							<option th:value="2">Buku & Alat Tulis</option>
							<option th:value="3">Elektronik</option>
							<option th:value="4">Fashion Bayi & Anak</option>
							<option th:value="5">Fashion Muslim</option>
							<option th:value="6">Fotografi</option>
							<option th:value="7">Hobi & Koleksi</option>
							<option th:value="8">Jam Tangan</option>
							<option th:value="9">Perawatan & Kecantikan</option>
							<option th:value="10">Makanan & Minuman</option>
							<option th:value="11">Otomotif</option>
							<option th:value="12">Perlengkapan Rumah</option>
							<option th:value="13">Souvenir & Party Supplies</option>
						</select>
					</div>
	
					  <!-- <div class="row mt-3 d-flex justify-content-center">
						<div class="col-md-10">
							<label class="labels">Category</label>  <br>
							
						</div>
					  </div> -->
					<div class="text-center">
						<div class="hero-btns">
							<button type="submit" value="Sign Up">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="panels-container">
		<div class="panel left-panel">
			<div class="content">
			<h3>New here ?</h3>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
				ex ratione. Aliquid!
			</p>
			<button class="btn transparent" id="sign-up-btn">
				Sign up
			</button>
			</div>
			<img src="img/log.svg" class="image" alt="" /> 
		</div>
		<div class="panel right-panel">
			<div class="content">
			<h3>One of us ?</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
				laboriosam ad deleniti.
			</p>
			<button class="btn transparent" id="sign-in-btn">
				Sign in
			</button>
			</div>
			<img src="img/register.svg" class="image" alt="" />
		</div>
		</div>
	</div>

	<!-- check out section -->
	<div class="mt-80 mb-80">
		<div class="container">
			<div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
				<div class="container" data-aos="fade-up">
				  <div class="row d-flex justify-content-center">
					
					<div class="col-md-7">
						<div class="container">
							<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
						</div>
					  <div class="new_card p-3 py-5">
						<div class="d-flex justify-content-center mb-4">
						  <h4 class="text-center">Register</h4>
						</div>
						<form th:action="@{/signup}" th:object="${registerRequest}" method="POST">
						  <div class="row mt-3 d-flex justify-content-center">
							<div class="col-md-10">
								<label class="labels">Name</label>
							  <input required class="form-control" type="text" placeholder="Name" th:field="*{nama}" />
							</div>
							
						  </div>
		
						  <div class="row mt-3 d-flex justify-content-center">
							<div class="col-md-5">
								<label class="labels">Username</label>
								<input required class="form-control" type="text" placeholder="Username" th:field="*{username}" />
							</div>
							<div class="col-md-5">
								<label class="labels">Email</label>
								<input required class="form-control" type="email" placeholder="youremail@example.com" th:field="*{email}" />
							  </div>
						  </div>
		
						  <div class="row mt-3 d-flex justify-content-center">
							<div class="col-md-10">
								<label class="labels">Address</label>
								<input required class="form-control" type="text" placeholder="Address" th:field="*{address}" />
							</div>

						  </div>
						  <div class="row mt-3 d-flex justify-content-center">
							<div class="col-md-10">
								<label class="labels">Category</label>  <br>
								<select class="form-control" name="category" >
									<option th:value="1">Aksesoris Fashion</option>
									<option th:value="2">Buku & Alat Tulis</option>
									<option th:value="3">Elektronik</option>
									<option th:value="4">Fashion Bayi & Anak</option>
									<option th:value="5">Fashion Muslim</option>
									<option th:value="6">Fotografi</option>
									<option th:value="7">Hobi & Koleksi</option>
									<option th:value="8">Jam Tangan</option>
									<option th:value="9">Perawatan & Kecantikan</option>
									<option th:value="10">Makanan & Minuman</option>
									<option th:value="11">Otomotif</option>
									<option th:value="12">Perlengkapan Rumah</option>
									<option th:value="13">Souvenir & Party Supplies</option>
								</select>
							</div>
						  </div>
		
						  <div class="mt-5 text-center">
							<button type="submit" value="Sign Up">Register</button>
						  </div>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
		
	
		</div>
	</div> -->
	<!-- end check out section -->

	<!-- logo carousel -->
	<!-- <div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end logo carousel -->


		<!-- footer -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Made with ❤️ by APAP A-7 2023/2024<br>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->


	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	<!-- sign js -->
	<script src="assets/js/sign.js"></script>

</body>
</html>