<!-- <!DOCTYPE html>
<html>
<head>
    <title>Withdraw Form</title>
</head>
<body>
    <h1>Withdraw</h1>
    <div class="container">
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>
    <form th:action="@{/withdraw}" th:object="${updateRequest}" method="POST">
        <input class="form-control" type="hidden" th:field="*{id}" />


        Balance: <br>
        <input class="form-control" type="text" th:field="*{balance}" />
        <br><br>


        <br><br>
        <br><br>
          <button class="btn btn-primary" type="submit">Submit</button>
          <a class="btn btn-primary" href="/">Home</a>
      </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
		<object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
	</head>
<body>
	
	<div th:replace="~{fragments/navbar :: header}"></div>

	<!-- check out section -->
		<div class="container">
			<div class="container-fluid" style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
				<div class="container" data-aos="fade-up">
				  <div class="row d-flex justify-content-center">
					
					<div class="col-md-7">
						<div class="container">
							<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
						</div>
					  <div class="new_card p-3 py-5">
						<div class="d-flex justify-content-center mb-4">
						  <h4 class="text-center">Withdraw</h4>
						</div>
						<form th:action="@{/withdraw}" th:object="${updateRequest}" method="POST">
                            <input class="form-control" type="hidden" th:field="*{id}" />
		
						  <div class="row mt-3 d-flex justify-content-center">
							<div class="col-md-10">
								<label class="labels">Withdrawable Balance:</label>
								<input required class="form-control" type="text"  th:field="*{balance}" />
							</div>

						  </div>
		
						  <div class="mt-5 text-center">
							<button type="submit" >Submit</button>
						  </div>
						</form>
					  </div>
				  </div>
				</div>
			  </div>
		
	
		</div>
	</div>
	<!-- end check out section -->

	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Made with ❤️ by APAP A-7 2023/2024<br>
					</p>
				</div>

			</div>
		</div>
	</div>
	</div>
	<!-- end footer -->
	
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>
</html>



